<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Hesap Oluştur</h1>
      <input type="text" placeholder="Username" />
      <input type="password" placeholder="Password" />
      <button (click)="signIn()">Kayıt ol</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Giriş yap</h1>
      <input type="text" placeholder="Username" />
      <input type="password" placeholder="Password" />
      <button (click)="signUp()">Giriş yap</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Tekrar Hoşgeldiniz</h1>
        <button class="ghost" id="signIn" (click)="signInRight()">Giriş Yap</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hoşgeldiniz</h1>
        <button class="ghost" id="signUp" (click)="signUpRight()">Kayıt Ol</button>
      </div>
    </div>
  </div>
</div>
